 <div class="container col-md-6">
  <div class="card">
      <div class="card-header">
          <h3>Autenticación de Usuarios</h3>
      </div>
      <div class="card-body">
          <form  #formulario="ngForm"
          (ngSubmit)="formulario.form.valid && autenticar()">
              <div class="form-group">
                  <label for="">Email:</label>
                  <input type="text" class="form-control"
                  name="nombre" id="nombre"
                  [(ngModel)]="txtEmail" required>
              </div>
              <div class="form-group">
                  <label for="">Clave:</label>
                  <input type="password" class="form-control"
                  name="tipo" id="tipo"
                  [(ngModel)]="txtClave" required>
              </div>
              <button type="submit" class="btn btn-danger btn-lg btn-block">Ingresar</button>
              <button type="submit" (click)="logueoGoogle()" class="btn btn-secondary">Logueo con Google</button>
          </form>
      </div>
  </div>
</div>
