<!--Menú-->
<app-menu></app-menu>

<!--Contenedor-->
<div class="container">
  <h2>Crud Angular + Spring Boot + MySql</h2>

  <button (click)="autenticar()" *ngIf="!isUsuarioLogueado()"  class="btn btn-info">Autenticar</button>
  <button (click)="listarPokemones()" *ngIf="isUsuarioLogueado()"  style="margin-left: 10px;" class="btn btn-info">Listar</button>
  <button (click)="agregarPokemon()" *ngIf="isUsuarioLogueado()"  style="margin-left: 10px;" class="btn btn-info">Nuevo</button>

</div>

<router-outlet></router-outlet>

